[2015-10-08 21:57] qjhart opened #1 "Create default regions"
At our meeting 2015-10-07, we decided that we would make some standardized boundaries that are sort of the official standard for the ssj project.  These will be included in this project.  The boundaries should include some of the common datasets that we are shooting for.  I will suggest that we match the Spatial CIMIS and Cal-SIMETAW boundaries.   Then, we will project landsat ( and other) imagery

[2015-10-08 22:02] qjhart opened #2 "Get best estimate of potential crops for the Delta Service Area."
We have the opportunity to get some better example crops for field testing for t his coming Fall.  In order to do that, we need to find some crops that are still green.  I suggested we do this with Earth Engine, where we take the latest image, and overlay it with CDL 2014 crop data, and see what's most green.  Can also add a histogram of crop types to this as well.

[2015-10-19 18:49] qjhart opened #3 "2015-10-19 Kickoff Meeting"
Invitees: Michael George, Anna Cole (SWRCB); Tariq Kadir, Morteza Orang (DWR);  Forrest Melton (NASA-Ames); Dan Howes (Cal Poly ITRC); Jay R. Lund, Josue Medellin-Azuara, Kyaw Tha Paw U, Nadya Alexander, Yufang Jin, Quinn Hart (UC Davis-CWS), Michelle M Leinfelder-Miles (UCANR)

Attendees:
M. George, Josue, Nadya, Tariq, Morrie, KT, Michelle ?, Quinn, Yufang, John Collins;  Jay Lund; Bekele on pho

[2015-10-19 18:49] qjhart opened #4 "Required Input data"
List of data:

Boundary

Field Data

Measured ET, Met data,

Voluntary participation report

Land Cover
** Categories (DWR Crop categories)
** Size, Source

CIMIS - Probably some direction on using the API
** CIMIS Station(s) ; Modesto, Menteca; Brentwood; Tracy
** Spatial CIMIS 2015-01-01 and beyond)
** 15 day average?

Cal-SIMETAW Landsat Imagery?
WRF-ACASA - They use different methods

Inputs:

[2015-11-04 19:44] qjhart opened #5 "CalSIMETAW Methodology"
Someone needs to lead the CalSIMETAW predictions.  There are a number of different issues that need to be coordinated for this, we need to verify that we can run the CalSIMETAW program at these various stages of resolution of land-cover.

[2015-11-04 20:08] josue-medellin opened #6 "Meeting 2015-11-03"
Nadya, Andy, Quinn, me, Yufang, Jay

Protocol
Repositories
Progress UC Davis methods
Meeting on 11/19
Report Outline

ANDDY WONG
Working on protocol land user temperature needed, trying to.
Quinn we needed to standarize, land surface model.?? Last meeting.
Quinn, will replicate metric sharpening in earth engine.

Goal, put some of METRIC into Earth Engine. However
---> Forrest crop layer.
--> Chec

[2015-11-04 20:09] #6 closed

[2015-11-06 22:08] NDEEW opened #7 "Overview Map needs update"
The Existing CIMIS Stations links and locations at our overview map are outdated. Take Twitchell Island (140) for example, it is no longer active while a new station, Hastings Tract East (212), was added in 2009. I made a shapefile of all CA CIMIS stations as of May 2015. Please contact me if it is useful.

[2015-11-06 23:03] josue-medellin commented on #7
Who should we assign this to?

[2015-12-01 23:57] qjhart opened #8 "Investigate Changes to CalSIMETAW estimates based on different crop calendars"
From Nadya....
I wanted to ask you a question about cropping dates - Since Michael George is interested in modeling the full water year, the remote sensing groups were talking about including planting and harvesting dates with the analysis. We wanted to be able to look at how the algorithms perform in the dry versus rainy season, but also relative to the crop cycle. Do you have any recommendations

[2016-03-29 21:14] qjhart opened #9 "Results Updates"
@NadyaAlexander @josue-medellin I have added in the template for the results.

 - [x]  We need to assign someone to choose the regions that we are going to use, and the crops we will review.  RIght now we only have the DSA.

- [ ] [Results](https://github.com/ssj-delta-cu/ssj-overview/blob/master/results/README.md#results-model) Right now , we only have two required results.  monthly.csv and month

[2016-03-29 21:18] qjhart commented on #7
Eric is supposed to update the locations of the new CIMIS stations, and the field data.

[2016-03-29 21:19] qjhart commented on #5
Moved to ssj-calsimetaw

[2016-03-29 21:19] #5 closed

[2016-03-29 21:19] #4 closed

[2016-03-29 21:20] #3 closed

[2016-03-29 21:20] qjhart commented on #2
In the ssj-calsimetaw project

[2016-03-29 21:20] #2 closed

[2016-03-29 21:21] qjhart commented on #1
Completed in ssj-boundaries.  We can update this to include the islands that we want to include.

[2016-03-29 21:21] #1 closed

[2016-03-29 21:22] qjhart commented on #8
Moved to ssj-calsimetaw

[2016-03-29 21:22] #8 closed

[2016-03-31 19:46] qjhart opened #10 "Need the set of islands/regions to aggregate results"
One of the requirements for our Consumptive Use providers is that they summarize their ET estimates by crop type and by island/region.   So, we need to provide the set of island/regions that we want to summarize over.   The major islands was what was brought up, but it can include any other method you'd like to see it divided, if there are any political boundaries, you want to include.  Also, it's

[2016-04-05 04:24] NadyaAlexander commented on #9
@qjhart @josue-medellin Since Yufang and I are lead on the modeling group coordination / report writing, we should probably draft the regions and crop groups? We will need the LandIQ data to do a crosswalk for the LandIQ - DWR and we should also broaden the results to include water and natural vegetation. Do you think the regions should have coordination from the DWM office to line up with some of

[2016-04-05 04:28] NadyaAlexander commented on #9
I think we might wait until we have the inputs / intermediate outputs tables filled in from the modelers before we ask for additional required results? I am a little unclear still on how much Jay wants to define before we send out the draft protocols and how much we will add after we get input.

[2016-04-05 05:44] josue-medellin commented on #9
@NadyaAlexander on your first comment. We have an islands layer I think. Yes on Land IQ for cross walk to DWR plus water and natural vegetation. I dont think we will get newer data from DWM office on islands layer. Second comment. I was under the impression we were providing a draft of what we think their models provide to pre-populate their tables and then let them comment if we are right or wron

[2016-04-05 17:12] NadyaAlexander commented on #9
@josue-medellin I think Quinn put the table on Github, but I'm waiting to hear back on that. I think Github would be a natural place for it to be centrally available. I wasn't thinking so much about layer data from the DWM office, it was more that there are a lot of small islands and waterways, and I wasn't sure if there were management groupings currently in place that we might want to line up ou

[2016-04-07 18:32] mclay120 commented on #10
I think the shapefile we have is pretty good for this purpose.  Maybe some adjustments to boundaries depending on suggestions in the group.  I will double check with Susan that it is okay to use and share the data.

[2016-04-07 18:35] qjhart commented on #10
@ssj-delta-cu/ssj I have moved the part of issue #9 regarding the islands and regions to here.  Also I have assigned this to Mui, who is creating the data layer, that will be shared in this project.  We are in contact with John Collins at waterboards.  In the end I think we will have; 60 core islands and tracts, 2 primary and secondary ares; The point locations of KT's field work and hopefully the

[2016-04-07 18:44] qjhart commented on #9
@ssj-delta-cu/ssj, the individual projects have been created and teams have been made.  We can discuss what other GitHUB support is required, but otherwise I think this is complete

I'm pretty sure the Land IQ is the DWR crop groups, what we will need is the CDL -to DWR crop groups which have been done alreasy, but Nadya and I might not agree on the results.

[2016-04-07 18:44] #9 closed

[2016-04-07 18:54] qjhart commented on #10
John has forwarded along this overview, with a better description of the current polys in the primary region.  Can you review these and verify they are consistent with the boundaries you added?

Also, can we make another attribute that is zone, which is either primary or secondary? based on the same overview?

[SacSanJoaquinatltasdelta_overview.pdf](https://github.com/ssj-delta-cu/ssj-overview/fil

[2016-04-07 19:25] mclay120 commented on #10
The majority of boundaries seem consistent with what we have now.  There are a few additional names not in delta watermaster and slight differences in some island boundaries.  If the overview map is the reference, then some renaming and realigning boundaries will need to be done.  The  primary and secondary zone attribute addition is not doable without splitting polygons.  I would like to get the

[2016-07-15 23:07] qjhart opened #12 "Update the icon for the project page."
@josue-medellin / @NadyaAlexander I was uploading the Priestley-Taylor ET today, and I picked a se set ET months (R:8,G:10;B:1).  The resulting map is delightful, and I've made that the Icon for the project.  If we want something more supportative of the DWM, let me know.

![image](https://cloud.githubusercontent.com/assets/344953/16890710/dbe804a0-4aa5-11e6-9249-cc8cfead6a19.png)

[2016-07-15 23:07] #12 closed

[2016-08-02 00:57] qjhart opened #13 "Compute ET statistics for each model type and regions"
We have or will compute a standard monthly data product for each of the ET modeling efforts.  These data need to be summarized for each LandIQ level_2 type, and a number of regions in the delta.  A good start to this the EE script /ssj-delta-cu/ssj-overview/et_comparison.js  This script shows some some statistics for some of the models, for alfalfa, and showing the mean values.  This script need t

[2016-08-04 17:14] andybell commented on #13
@qjhart Chart.image.byClass() can only work using a single value from one reducer. Combining multiple reducers in a single chart won't work. It's possible to have a separate chart for each of the stats we need but I think that it's going to get unruly really fast.

I found a way to use a reduce by region to produce the stats for each of the ET results. The JSON output to the console is a bit hideo

[2016-08-04 21:42] qjhart commented on #13
@andybell Okay.  I like your strategy.

I think there are three ways forward,
-  Import these JSON files directly into the Google Spreadsheet, and then write some helper functions that allow us to parse the JSON, and reorganize as well see fit, and ready for graphing.  I've sent you an example sheet that does that.
- Same as above, but use Google Sheets JSON database engine to perform the tasks.

[2016-08-08 15:45] andybell opened #14 "Results - relative difference and StdDev"
Started a script in EE to compare the different methods. Turns the ET images from the different methods into a imageCollection which can then be reduced to get the mean and standard deviation.

The individual results can then be compared to the mean + std to get the relative difference and the zscore.

See ssj-overview/et_compare_deviation.js for details.

[2016-08-08 15:50] andybell commented on #14
@qjhart The bands for the eto method are in a different order than the other methods. Can you check that I've rearranged them correctly so that the months match?

eto -b10, b11, b12, b1, ....
all the other methods - b1, b2, b3, ......

[2016-08-08 21:12] qjhart opened #15 "Figure 1 / Table 1"
@andybell , @josue-medellin .  We need to start working on some of the additonal summary data for the report.   Figure 1 for the report is a summary of the Total amount of seasonal ET for each method for the the three regions.  In order to do this, we need another summary (the count) for each of our estimations.  This can be in the same graphs sheet, and please verify w/ @josue-medellin  that the

[2016-08-08 21:15] qjhart opened #16 "Figure 2 / Table 2"
@andybell / @josue-medellin , for Figures 2 ( one for each commodity).  We want to show the comparison of the mean values of the ET for each commodity for all the methods.

![image](https://cloud.githubusercontent.com/assets/344953/17496470/5e4964a0-5d72-11e6-8e6b-7f56c7e3d623.png)

Again, we want to show the same data as a table, There will be one table per commodity.  the columns of the commodit

[2016-08-08 21:26] qjhart commented on #14
@andybell My bad.  I should have made this more clear.  The eto method is not really a method at all.  It's just a good test to validate the other methods.  (It's the Potential ETo for a month, and doesn't change with commodity) It _SHOULD NOT_ be included in the calculation of the mean ET.

[2016-08-09 06:58] josue-medellin opened #17 "Crop land use classes"
@andybell please prepare a map for the Land IQ land use classes in level 2. That will be the replacement over the shared version of the draft figure 1. Also, prepare a table with land use, surface area (acres), and percentage of total Delta area.  All land use classes within the Delta should sum up to about 737 thousand acres. Thanks.

[2016-08-09 18:20] andybell commented on #15
![image](https://cloud.githubusercontent.com/assets/7776675/17528106/ed004a1e-5e3b-11e6-84ed-5bad7a9fe3b4.png)

@josue-medellin here is an example of an graph for alfalfa in June

[2016-08-09 18:26] andybell commented on #16
![image](https://cloud.githubusercontent.com/assets/7776675/17528345/1c8829cc-5e3d-11e6-9f14-249dcf14e598.png)

@josue-medellin Example for alfalfa. Let me know what you want changed.

[2016-08-09 18:39] josue-medellin commented on #16
We would like units in the y axis, these should be mm/day. I would also like to have the ability to change the model labels. e.g. CalSIMETAW, UCD-PT, DisALEXI, ITRC, METRIC-UCD, NASA-ARC, DETAW.

[2016-08-09 18:40] andybell commented on #17
| Commodity | Number | square meters | acres | percent |
| --- | --- | --- | --- | --- |
| Corn | 23 | 371,639,640.45 | 91834 | 13.55 |
| Alfalfa | 1 | 324,557,286.47 | 80200 | 11.84 |
| Urban | 2006 | 251,575,014.03 | 62165 | 9.17 |
| Water | 2007 | 243,625,266.29 | 60201 | 8.88 |
| Upland Herbaceous | 2005 | 219,926,302.65 | 54345 | 8.02 |
| Turf | 916 | 210,266,159.26 | 51958 | 7.67 |
| Semi-ag

[2016-08-09 18:44] andybell commented on #16
![image](https://cloud.githubusercontent.com/assets/7776675/17529024/b5a2a98c-5e3f-11e6-9525-17426065d4d7.png)

[2016-08-09 19:14] josue-medellin commented on #16
This looks OK. Let's do it for all available land use classes. Enlarge fonts for Y axis legend please. thanks, jma

[2016-08-09 20:27] josue-medellin commented on #17
Legal delta area. is 737 thousand acres. Would you please verify the original LU boundaries adds up to that, if so then we are good. My understanding is that the LU company (land iq) accounted for buffer areas in the fields. so perhaps having less acreages in the field edges is due to that.

[2016-08-09 21:05] andybell commented on #17
Difference between legal delta and land use is because "delta" is clipped to DETAW region.

![image](https://cloud.githubusercontent.com/assets/7776675/17533586/7232f8be-5e53-11e6-86e2-c6567a1fc51a.png)

[2016-08-09 22:31] josue-medellin commented on #17
Thanks much. Please dont forget to mark the highlands and lowlands boundaries in the Delta.

[2016-08-10 00:54] andybell opened #18 "nasa_tops > 50,000 characters in Google sheet cell"
The results for nasa_tops won't fit into a cell in the google sheet. The total number of characters = ~54k.

It looks like the part of et_comparisons.js that converts the monthly totals into daily averages turns the results into a floating point. The extra decimals makes the results extra long especially for the min/max reducer

[code]

By dropping the median reducer, the nasa_tops is able to fit

[2016-08-10 01:15] josue-medellin commented on #18
Quinn, anything we should do with this?

On Tue, Aug 9, 2016 at 5:54 PM, Andy Bell notifications@github.com wrote:

##

Josué Medellín-Azuara, Ph.D.
Associate Research Engineer
Department of Civil and Environmental Engineering
Center for Watershed Sciences
University of California, Davis
One Shields Ave. Davis, CA 95616
Mobile: + 1 530 574 8019
Website: http://watershed.ucdavis.edu/medellin

Conve

[2016-08-10 01:23] andybell commented on #18
I don't think we are using the median for any of the current graphs which is why I got rid of it in order to get the results to fit into the cell.

I don't think it an issue now (at least for me) but I wanted to document in case it pops up in the future.

[2016-08-10 01:32] josue-medellin commented on #18
Jay wanted the median. So we perhaps talk about it with NASA later this week.

[2016-08-10 04:49] josue-medellin commented on #16
Figures have been generated. Thank you. I will have William Li to generate the Tables for Alfalfa, Corn and Pasture.

[2016-08-10 18:46] andybell commented on #17
I tabulated the areas for the full legal delta in earth engine and got similar numbers. But by tabulating in ArcGIS the number for fallow, sunflow, safflower get closer to the total.

| Crop | Acres |
| --- | --- |
| FALLOW | 54024.86268 |
| SAFFLOWER | 5921.698352 |
| SUNFLOWER | 583.6372995 |

[2016-08-10 19:00] qjhart commented on #18
We have new data from Forrest, I've added that in, and now we are back to integer data.  Can you see if that works for you ? (I've really verified the permissions this time.)

[2016-08-10 19:00] #18 closed

[2016-08-10 19:41] qjhart commented on #16
Either you need to divide by 10, or make the Units (tenths mm / day)

On Tue, Aug 9, 2016 at 9:49 PM Josue Medellin-Azuara <
notifications@github.com> wrote:

[2016-08-10 20:20] andybell commented on #16
Let's change the units on the graphs

[2016-08-10 20:26] josue-medellin commented on #16
Do we need to redo all graphs then?

[2016-08-23 19:15] andybell opened #19 "Box-n-whisker plots ---- whiskers?"
Usually box-n-whisker plots have whiskers that show min/max values that exclude outliers. It's not easy to get min/max excluding outliers from EE without the full histogram.

A couple of alternative options for the candlestick plots:

- whiskers show mean &plusmn; standard deviation
- whiskers show percentile (either 2 & 98, or 9 & 91)

### Example - whiskers and StdDev
<img width="519" alt="2016-

[2016-08-23 19:16] andybell commented on #19
@qjhart @josue-medellin Let me know what makes the most sense for the candlestick chart's whisker bars.

[2016-08-29 14:20] andybell opened #20 "Chart for Kc"
Here is an example chart looking at Kc for the different methods for all of the landuse classes for the month of July.

```Kc = Mean ET for method / ETO  for each of the landuse categories ```

![image 1](https://cloud.githubusercontent.com/assets/7776675/18054482/1571976e-6dd2-11e6-9a93-f40a8608a8d5.png)

[2016-08-30 21:26] andybell commented on #19
Decision 8/30: 9th & 91st percentiles.

[2016-08-30 21:26] #19 closed

[2016-08-30 21:45] josue-medellin commented on #20
Please add may and september and follow Quinn's suggestions

[2016-08-30 21:52] qjhart commented on #20
@andybell .  My comments:
- [ ] order X axis by mean Kc from low to high
- [ ] We may have to identify if some of the methods don't work for some veg types.

[2016-08-31 19:13] andybell commented on #20
# May

![kc_may](https://cloud.githubusercontent.com/assets/7776675/18142852/603a13a4-6f8d-11e6-9ce2-66f7f6745801.png)

# July

![kc_july](https://cloud.githubusercontent.com/assets/7776675/18142850/602ee1aa-6f8d-11e6-90e0-d6034cf142a3.png)

# September

![kc_sept](https://cloud.githubusercontent.com/assets/7776675/18142851/60375d94-6f8d-11e6-9153-6d3fb57dec73.png)

[2016-09-02 17:31] andybell opened #21 "Legal Delta totals for CalSIMETAW & DETAW"
The total water year estimate for the legal delta is proportianally much larger for CalSIMETAW and DETAW than the other methods. It’s on the order of 300,000 additional acre-feet for the year for an area that should not be that different.

![image](https://cloud.githubusercontent.com/assets/7776675/18212433/45255486-7111-11e6-963d-6b8b0314dba5.png)

Estimates - units in acre-feet per year

| Metho

[2016-09-02 17:40] andybell commented on #21
![image](https://cloud.githubusercontent.com/assets/7776675/18212699/8d61b0c2-7112-11e6-82d9-a3021eb7c452.png)

Red - legal delta
Black - DETAW delta service area

[2016-09-06 18:08] andybell opened #22 "monthly ET estimates at stations"
For each month, extract the estimated ET for the five stations (D1, D2, D3, D4, D5) in the Delta for each method.

[2016-09-06 18:31] josue-medellin commented on #7
Can we close this one?

[2016-09-06 18:40] josue-medellin opened #23 "DisAlexi sending new estimates"
USDA-ARS is sending new estimates due to an error. @qjhart Do we have an streamlined process for updating their estimates? Thanks, Josue

[2016-09-06 19:12] josue-medellin opened #24 "Review dispersion in ET estimates for September."
I will review dispersion on September estimates. Check low and high estimates

[2016-09-06 19:13] andybell commented on #22
Example output for UCD-Metric:

Station D1 = 1
Station D2 = 2
Station D3= 3
Station D4 =4
Station D5 = 5

![ee-chart](https://cloud.githubusercontent.com/assets/7776675/18287189/0d6c6346-7444-11e6-8c54-31e95f8c69a4.png)

| Property | 2 | 1 | 3 | 4 | 5 |
| --- | --- | --- | --- | --- | --- |
| 1_OCT | 12 | 10 | 16 | 18 | 29 |
| 2_NOV | 5 | 5 | 8 | 9 | 14 |
| 3_DEC | 8 | 8 | 12 | 12 | 10 |
| 4_JAN |

[2016-09-06 19:13] josue-medellin opened #25 "Access to William Li Github UC Davis team plus report."
@qjhart would you please Add William Li to the  UC Davis team and the report preparation. His Github account is: koolwill

[2016-09-06 19:22] andybell commented on #21
@qjhart  when looking at the monthly ET values at the field stations (#22) I noticed some oddness with the values for DETAW and CalSimetaw that might provide some insight into this issue. The sampling points that are outside of the DETAW sub-regions (D3 & D4)  have a constant value of '129'. Does that have some special meaning to you? is it supposed to be no data or something?

![ee-chart 1](https

[2016-09-06 19:29] josue-medellin opened #26 "Database for DWR DETAW"
@qjhart @andybell @jschaferkramer  Quinn, or Andy, we need to make this available to DWR for their comments.  Thank you,

[2016-09-06 20:37] qjhart commented on #25
@koolwill has been invited.  I will close.  If he has problem accepting invite, let me know.

[2016-09-06 20:37] #25 closed

[2016-09-06 20:47] qjhart commented on #23
Issue moved to [ssj-delta-cu/ssj-disalexi #2](https://github.com/ssj-delta-cu/ssj-disalexi/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-06 21:29] josue-medellin commented on #22
Andy, would you please remind me which issue is this? Is this CIMIS stations?

[2016-09-06 22:48] josue-medellin opened #27 "ITRC and UC Davis METRIC"
@djhowes Dan, we would like to check in image dates employed for the two METRIC methods to further investigate differences among these estimates. Would you please provide those employed in your group?

[2016-09-06 23:27] andybell commented on #22
@josue-medellin I'm not totally sure. Quinn forwarded an email from Eric Kent with coordinates for some stations.

[2016-09-07 19:44] josue-medellin opened #28 "Endnote references and add a reference."
William please update my Endnote library with the study reference. Also add this one.

http://escholarship.org/uc/item/3t82s21b# the endnote record is in the literature folder.

https://drive.google.com/a/ucdavis.edu/file/d/0B7Ahz0szB4ZManN5QmV2allaR2s/view?usp=sharing

Kind regards,

Josue

[2016-09-07 20:08] josue-medellin commented on #26
@qjhart Quinn, any news on this? Were we writing a doc/reference for Tariq? We need to release this info to them to prompt their inputs/comments on report.

[2016-09-07 20:14] andybell commented on #22
Compare all methods in September since that's when actual bare soil measurements where taken. Waiting for actual measurements.

[2016-09-07 20:15] josue-medellin commented on #22
@qjhart Quinn, what are we comparing these to? Appendix A from KT? Do we have a table from Kent with Daily ET Values?

[2016-09-07 20:20] andybell commented on #21
For DETAW & CalSimetaw - only report delta service area. Drop lowlands, uplands, primary, secondary zones from the report.

[2016-09-07 20:22] josue-medellin opened #29 "Delta Boundaries to Report"
We will only report Legal Delta and Delta Service area. We will drop Lowlands and Highlands from the entire report. Also, Let's NOT report Beyond DSA for DWR CalSIMETAW and DETAW. Thanks @jschaferkramer

[2016-09-07 20:24] #20 closed

[2016-09-07 20:25] #10 closed

[2016-09-07 20:28] #7 closed

[2016-09-08 16:41] andybell commented on #22
@josue-medellin here are some charts for each of the stations comparing the mean daily ET for September from each of the methods with the average daily ET measured at the station. Stations D3 & D4 are outside the legal delta bounds which is why there is some missing data.

![image 1](https://cloud.githubusercontent.com/assets/7776675/18358059/568b8358-75c1-11e6-982d-94b91705ef12.png)

![image 2](h

[2016-09-09 22:42] qjhart commented on #22
@andybell What I would do is run the measured value as a big horizontal bar across the other points, so we can see where they line up, against the satelite estimates.

[2016-09-12 14:33] andybell commented on #22
![d1](https://cloud.githubusercontent.com/assets/7776675/18439668/4601c6da-78d4-11e6-992b-3c6d1fa6737b.png)
![d2](https://cloud.githubusercontent.com/assets/7776675/18439670/46074ab0-78d4-11e6-9587-63fdd5970c85.png)
![d3](https://cloud.githubusercontent.com/assets/7776675/18439666/46011fa0-78d4-11e6-9ec9-c2053755f10c.png)
![d4](https://cloud.githubusercontent.com/assets/7776675/18439667/4601a11e-7

[2016-09-12 14:37] josue-medellin commented on #22
Andy why we have no PT on D1 and D2?

[2016-09-12 14:57] andybell commented on #22
PT had values of zero for the month of Sept at those two locations. I removed all zero values from the above charts.

Here is a screenshot. The sampling sites are the two small dots. All the areas with ET=0 are shown in the darker gray

![image](https://cloud.githubusercontent.com/assets/7776675/18440456/32d1735a-78d7-11e6-81cb-c2544823c4ad.png)

[2016-09-12 19:20] ghost commented on #22
UCD-PT method overestimated/failed to generate ET in September for following reasons:
1. Landsat images in September is cloudy. Landsat images in late August is also somewhat cloudy.  In addition, Images after Sep, 2015 were not processed and included in the interpolation. Therefore, there may not be enough data for interpolation at some pixel to generate daily ET in September.
2. The Kc interpola

[2016-09-12 22:52] josue-medellin opened #30 "DisALEXI found error in code."
@qjhart @andybell @koolwill

We received new estimates from USDA after they found an error in the imagery they employed. If i understand the flow correctly.  Quinn will upload, Andy will grab from Earthengine into spreadsheets and william will redo all charts when is available. I realize this is short notice. So ETA is Tuesday from Quinn, perhaps a little earlier, and Andy would have until Wednesd

[2016-09-13 15:35] andybell commented on #30
Figures in report that will have to be updated with the new data
- [x] Figure ES-1 - evapotranspiration estimate for entire year
- [x] Figure 4? - bare soil evapotranspiration - this one is not in the spreadsheet. Need to check if the numbers from et_comparisons_fieldpoints.js actually change and then export to csv to redo graphs in R
- [x] Figure 5 - should be the same as figure ES-1
- [x] Table

[2016-09-13 17:52] josue-medellin commented on #30
@andybell @koolwill  Is William doing this already?

[2016-09-13 17:55] andybell commented on #30
@josue-medellin I'm still waiting on the asset to be shared with my account (see https://github.com/ssj-delta-cu/ssj-disalexi/issues/2). I'll let @koolwill know when the updated data is added to the google sheet.

[2016-09-13 17:57] josue-medellin commented on #30
@qjhart @andybell @koolwill  apparently thing is done but perhps still needs to be uploaded.

[2016-09-13 18:13] josue-medellin commented on #30
@andybell I've been told asset is loaded now with access granted

[2016-09-13 20:02] andybell commented on #30
@koolwill Google sheets is updated. I've already addressed a couple of the figures that needed to be updated (see checklist above). Can you be in charge of updating the rest?

[2016-09-13 20:07] koolwill commented on #30
@andybell Yes, I can update the rest.

[2016-09-13 20:29] josue-medellin commented on #30
@andybell @koolwill Andy, are the Kc figures updated? if so, would you please resend issue? I still need to put in that section

[2016-09-13 22:39] andybell commented on #30
@josue-medellin Kc figures will need to be updated as well - I was going off the current list of figures in the draft. Can you put a placeholder in the document where you want the figures to go?

[2016-09-13 23:12] josue-medellin commented on #30
Andy please look at the comment in document, it will be right before island estimates. thanks

[2016-09-14 00:23] josue-medellin commented on #30
Are we all done with the DisALEXI changes @andybell and @koolwill ?

[2016-09-14 00:23] #29 closed

[2016-09-14 00:24] josue-medellin commented on #28
@koolwill are we done with this ?

[2016-09-14 00:25] #23 closed

[2016-09-14 00:26] #22 closed

[2016-09-14 00:27] #17 closed

[2016-09-14 00:27] #16 closed

[2016-09-14 00:27] #15 closed

[2016-09-14 00:28] #13 closed

[2016-09-14 00:28] #14 closed

[2016-09-14 00:29] #21 closed

[2016-09-14 00:32] andybell commented on #30
@josue-medellin Almost - I just realized that we should redo fig 9 + 10 which is the estimates for the island subregions.

[2016-09-14 00:51] koolwill commented on #28
@josue-medellin Yes, the updated files are in Google Drive.

[2016-09-14 00:51] #28 closed

[2016-09-14 01:43] andybell commented on #30
This can be closed. All figures in the draft have been updated to the new results.

[2016-09-14 03:22] josue-medellin commented on #30
Nice job. Thank you all.

[2016-09-14 03:22] #30 closed

[2016-09-14 15:29] josue-medellin opened #31 "Readproof figures and coments."
@andybell and @koolwill Some figures were recalculated. Please check numbers in text where appropriate, particularly averages, land etc. consistent with tables and charts comment DO NOT EDIT on 'working draft'

[2016-09-15 13:53] josue-medellin opened #32 "Land Use Classes and Totals"
We need to double check LU classes and totals. Table 1 of land use and numbers in text. Summation in table 1 does not work.

Alfalfa*	80,201
Almonds*	5,210
Bush Berries*	1,186
Cherries*	2,069
Citrus*	8
Corn*	91,833
Cucurbit*	3,923
Olives*	1,451
Other Deciduous*	7,713
Pasture*	48,062
Pears*	5,947
Pistachios*	148
Potatoes*	4,144
Rice*	7,637
Semi-agricultural/ROW(?)*	48,523
Tomatoes*	36,290
Truck Cro

[2016-09-15 16:40] josue-medellin opened #33 "Land use classes Delta Service Area Chart ET per unit area"
Check for DSA Chart by DETAW areas. much lower

[2016-09-15 22:02] josue-medellin opened #34 "Homogenize format of appendices."
@koolwill , I 've sent it by email but I am posting it here for better tracking of the issue. Please apply a template to all appendices. Make a copy of Appendix A, that needs to be done more carefully and apply the template as well.

[2016-09-16 00:17] koolwill commented on #34
@josue-medellin I have finished formatting the appendices. I shared the files in Google Drive.

[2016-09-16 02:05] josue-medellin commented on #34
Thanks very much William. I'l check and close once I've checked them.

[2016-09-19 18:10] josue-medellin commented on #32
@qjhart @andybell @nickrsan @jrmerz Good morning, who can help me follow up on this? Will it be Nick Justin, Quinn or others?

[2016-09-19 18:13] nickrsan commented on #32
Hi Josue,
As of now, I'm overbooked until next month when I can start coming online with this project in earnest. Still trying to get up to speed to understand METRIC, etc so I can be of more assistance here. Also, @andybell is out for at least another week for his honeymoon, so can't help in the immediate term, at least.

[2016-09-19 18:15] josue-medellin commented on #32
Understood. @qjhart @jrmerz ? Let me know how can I access this in google earth engine to crosscheck.  Kind regards, Josue

[2016-09-19 18:27] josue-medellin commented on #33
@qjhart @jrmerz I need to check why the DSA reports much lower per unit area estimates. Please provide link to check what goes into calculations.

[2016-09-19 18:28] jrmerz commented on #32
@josue-medellin I'm happy to help, but I come with startup cost :(  I have a 45min introduction to the current Earth Engine code base, mostly in regards to the ERDAS work Nadya is doing.  So I will need to be brought up to speed.

As for sharing the code, I only have writer permission, it doesn't let me share it.  Looks like @qjhart has to do that.

[2016-09-19 18:29] josue-medellin commented on #31
@koolwill @qjhart @jrmerz
Will, today we are checking land area totals for consistency in text and tables, so please be pending for info coming.

[2016-09-19 18:31] nickrsan commented on #32
@josue-medellin Just to add to what Justin's saying, I have a similar time-cost on starting up should I work on this project at any point. I'm pretty familiar with Earth Engine itself (but not the extensive experience that Quinn and Andy have still), but I'll definitely be slow on any work until up to speed.

I'm also running into a similar issue as Justin mentioned about permissions - working to

[2016-09-19 18:33] josue-medellin commented on #26
@qjhart @jrmerz Could we try providing this before mid this week?

[2016-09-19 18:33] #24 closed

[2016-09-19 18:36] josue-medellin commented on #32
@qjhart please unlock the appropriate permits. @jrmerz I dont need to access code myself just be able to recreate tables or see underlying calculations.

[2016-09-19 22:58] josue-medellin opened #35 "Bare soil measured versus estimated."
@jrmerz @andybell

Andy- For the set of figures comparing Delta ET measured through surface renewal versus the one estimated by each method (see https://docs.google.com/spreadsheets/d/1SQprhJN68ORZFqJ7mmJVcaFodZ6RTGN6zmD60sS1aog/edit?usp=sharing

is it possible to have a second line in D5, reporting average monthly of D5_ETa_EC ?
![image](https://cloud.githubusercontent.com/assets/13739372/1865170

[2016-09-19 23:03] josue-medellin commented on #34
William please look at my comments at appendix A, please reformat all based on those comments. Thanks, josue

[2016-09-19 23:04] jrmerz commented on #35
Do we know who the owner of that spreadsheet is?

[2016-09-19 23:09] josue-medellin commented on #35
Hi Justin, I think this was postprocessed in R. Here is the link with admin privileges. https://docs.google.com/spreadsheets/d/1SQprhJN68ORZFqJ7mmJVcaFodZ6RTGN6zmD60sS1aog/edit?usp=sharing

I am not entirely positive we can edit the chart for the red line in google sheets. Thanks again.

[2016-09-20 00:46] koolwill commented on #34
Josue, for the references what style should I be using?

[2016-09-20 00:52] josue-medellin commented on #34
Please use the same as in the report. Year in parentheses after authors,
then title, then volume(issue):page1-pageN. for the case of journal
articles. use the attached for endnote

On Mon, Sep 19, 2016 at 5:46 PM, koolwill notifications@github.com wrote:

##

Josué Medellín-Azuara, Ph.D.
Associate Research Engineer
Department of Civil and Environmental Engineering
Center for Watershed Sciences
Uni

[2016-09-20 00:59] koolwill commented on #34
There's no attachment in the last reply.

[2016-09-20 01:15] josue-medellin commented on #34
it is a file with format .ens. that is the style fil of endnote. so you
dont have to format.

On Mon, Sep 19, 2016 at 5:59 PM, koolwill notifications@github.com wrote:

##

Josué Medellín-Azuara, Ph.D.
Associate Research Engineer
Department of Civil and Environmental Engineering
Center for Watershed Sciences
University of California, Davis
One Shields Ave. Davis, CA 95616
Mobile: + 1 530 574 8019

[2016-09-20 06:36] josue-medellin commented on #27
@qjhart , we need to continue with the comparison. Please provide ITRC with some inquiries so we continue this before and after the report release. Thank you, JMA

[2016-09-21 05:39] josue-medellin commented on #26
Thanks very much @qjhart I understand this is now under. https://github.com/ssj-delta-cu/ssj-detaw
yet two or three things need to added. Let me know when to close.

[2016-09-21 06:50] qjhart commented on #32
@josue-medellin here are statistics directly from the landuse dataset:  I'll give them by level_1 and level_2.
First the total acres (according to landuse) = 752171 acres.  This is the total reported from land IQ.  Of that we have:

| level_1 | acres |
| --- | --- |
| Citrus/Subtropical | 1590 |
| Field Crops | 102004 |
| Idle | 55260 |
| Native | 91475 |
| Native Riparian | 27898 |
| Other Decidu

[2016-09-21 08:42] qjhart commented on #33
Redid the calculations, in https://docs.google.com/spreadsheets/d/183ksTSkO04K4WuIjI7Q2oxxmvbJswxVjTOXPlMBQKAk/edit?usp=sharing and sent notice.  If these look good, please close.

[2016-09-21 13:54] josue-medellin commented on #33
Quinn, thanks. These look much better. How can I  get totals by 'island' to redo the graph on report.

[2016-09-21 16:27] qjhart commented on #33
@josue-medellin I was expecting the islands were correct, so I didn't redo those.  Those are in the spreadsheet, I think you were accessing last nite.

[2016-09-21 20:28] josue-medellin commented on #33
Sounds perfect thanks very much. I will have that worked out. no problem.

Kind regards,

Josue

[2016-09-21 20:28] josue-medellin commented on #26
@qjhart Please loook at email from DWR, so we sort this out. thanks very much. josue

[2016-09-22 15:31] josue-medellin commented on #35
@jrmerz any news on this one? All we need to do is to add a second red line for D5, the one shown is for the surface renewal station. We need one for the ET station.

[2016-09-22 15:32] josue-medellin commented on #27
@qjhart lets follow up on this one.

[2016-09-22 15:40] jrmerz commented on #35
@josue-medellin so you just need a line for the D5ETa_EC Average (0.144067827)?  You mentioned that chart was created in R, if I can get source for that I can definitely take a look.

[2016-09-22 20:09] josue-medellin commented on #32
@koolwill take a look at this versus text and comments

[2016-09-22 22:02] koolwill commented on #32
@josue-medellin Just to be clear, do you want me to update table 1 with these new values?

[2016-09-23 01:51] josue-medellin commented on #35
I think only @andybell has that. Andy, please respond ASAP.

thanks, josue

[2016-09-23 02:09] josue-medellin commented on #32
Yes. Also check areas in paragraph. write comments when is not clear. thanks. josue

[2016-09-23 22:02] nickrsan commented on #35
Hey all,

I took a look last night seeing if I could find that script, but couldn't - we'll have to wait until Andy is back next week. Are you just trying to add another line to the above graph? It sounds like you're thinking you can't add that in Google Sheets? Just asking so I can understand what needs to be found, or what I can assist on. Thanks

[2016-09-23 22:11] jrmerz commented on #35
I was curious about this as well. I added a example red line to the charts in the spreadsheet: https://docs.google.com/spreadsheets/d/1SQprhJN68ORZFqJ7mmJVcaFodZ6RTGN6zmD60sS1aog/edit#gid=457758254.  See the bottom, 'D5 - JM - Combo Example'.  One issue is I can't seem to make it dashed.  Otherwise, is there something else I am missing?

[2016-09-24 01:01] koolwill commented on #32
@josue-medellin I've added changes to table 1 and comments in the draft.

[2016-09-24 02:52] josue-medellin commented on #32
we are using the word document

[2016-09-25 21:16] andybell commented on #35
Sorry all. I had created those graphs in R since google sheets did not allow for much control for the horizontal line.

![d5](https://cloud.githubusercontent.com/assets/7776675/18818269/27abbf5a-8343-11e6-8a6e-2118f0882950.png)

Short dash - SR
Long dash - EC

Here is a link for a gist with the R code to make the figures: https://gist.github.com/andybell/f7fe7b8a15503839676b27dcec86b4d3

[2016-09-25 21:33] andybell commented on #32
Two thoughts about this:
1. The counts in the table above from Land IQ are not limited to the Delta Service Area. The landuse raster has a slightly larger extent than the service area.
2. The counts for the landuse that were done in EE for the DSA and subregions (https://code.earthengine.google.com/f6458c5ccfab0136886af671a4464245) were calculated using a reducer. Maybe this added some error to th

[2016-09-25 22:20] josue-medellin commented on #35
Perfect thanks very much

On Sunday, September 25, 2016, Andy Bell notifications@github.com wrote:

##

Josué Medellín-Azuara, Ph.D.
Associate Research Engineer
Department of Civil and Environmental Engineering
Center for Watershed Sciences
University of California, Davis
One Shields Ave. Davis, CA 95616
Mobile: + 1 530 574 8019
Website: http://watershed.ucdavis.edu/medellin

Convener California W

[2016-09-25 22:37] josue-medellin commented on #35
@andybell @jrmerz Is it possible put the EC station as dotted or other kind of line and also add a label directly on the chart? Thanks very much.

[2016-09-25 23:13] andybell commented on #35
@josue-medellin The line types are slightly different (long vs short dashes) but I can easily change it to make it more apparent that the lines are different. Labeling the lines on that figure is a good idea.

What do you want the labels to say? What are EC and SR?

[2016-09-25 23:16] josue-medellin commented on #32
@andybell We are reporting two levels. DSA and legal Delta, I am assuming that withe the exception of the DETAW and CalSIMETAW all methods report for the Legal Delta using Land IQ database. Please help me fix inconsistencies in the word document tables and the overall calculation. I'll share the main report document in an email. THis is an important issue to correct.

[2016-09-25 23:20] josue-medellin commented on #35
EC Station, SR Station for labels, please add SR station to D1 to D3 for consistency

[2016-09-25 23:23] josue-medellin commented on #33
@andybell Andy, lets redo this charts.

[2016-09-26 07:20] josue-medellin opened #36 "Table 3 and Figure 5 (and ES-1) bug after expanding DSA or ROI boundaries."
@andybell Table 3 estimate and Figure 5 in the report seem to have a bug for SIMS and possibly other methods in reporting DSA and Legal Delta. Please check. We need to determine what is actually included in the estimations out of DSA. Are we using the Figure 4 blue rectangle (ROI) or are we using something else. legal delta should be around 737 thousand acres.

[2016-09-26 07:53] josue-medellin opened #37 "Remove some values from Kc Charts"
@andybell please remove the purple dots for the floating veg, riparian, water, wetland herbaceous, upland herbaceous and urban classes, since SIMS does not currently provide estimates for these regions.

[2016-09-26 08:35] josue-medellin opened #38 "Inmmature versus bearing orchards"
@qjhart @andybell

Andy, can we check if immature orchards were included in the daily average ET calculations? My understanding is that the category is explicit in the Land IQ land use dataset.

[2016-09-26 08:38] josue-medellin opened #39 "Prioritization EE, GIS and calculations for final report"
@qjhart This is just FYI

@andybell this is for you to help prioritize issues. More of a checklist as we wrap the report.

- [ ] Resolve land inconsistencies.  We need totals for Legal Delta and Delta Service Area. #32

- [x] Redo charts for bare soil measured versus estimated ET (Stations D1, D2, D3, D5) These should include labels in the red lines and #35 @jrmerz this is FYI. @andybell will comp

[2016-09-26 13:41] andybell commented on #37
![kc_may_exclude_sims_natclasses](https://cloud.githubusercontent.com/assets/7776675/18836219/ff459452-83cc-11e6-93e9-6f6a8f980028.png)
![kc_july_exclude_sims_natclasses](https://cloud.githubusercontent.com/assets/7776675/18836221/017f2fe4-83cd-11e6-9ca5-af01f15932a9.png)
![kc_september_exclude_sims_natclasses](https://cloud.githubusercontent.com/assets/7776675/18836223/03236482-83cd-11e6-8d6a-b41

[2016-09-26 13:42] andybell commented on #39
- [x]  KC charts, please remove for SIMS the purple dots for the floating veg, riparian, water, wetland herbaceous, upland herbaceous and urban classes, since SIMS does not currently provide estimates for these regions. #37

[2016-09-26 14:08] andybell commented on #38
@josue-medellin currently there is not any distinction between immature and mature orchards in the ET calculations. All the ET calculations are using the landuse categories delineated by level 2 Land IQ which  lumps all "orchards" together.

Immature orchards could be broken out using the `yng_class` in the Land IQ data but it adds several layers of complexity.

[2016-09-26 14:17] josue-medellin commented on #38
So we are merging into one category young and bearing orchards in the calculations, right?

[2016-09-26 14:22] josue-medellin commented on #37
@andybell I was thinking to remove all that is not included in the crop ET calculation except for fallow land to avoid some noise. @koolwill I am updating these charts in the main report but not in the Appendix. So please update appendix once this last request is completed.

[2016-09-26 14:29] andybell commented on #38
Yes. That is essentially correct.

Breaking out the young vs bearing orchard could be done with a little time and effort. I think that the best approach is to modify the landuse raster in EE to include the young classes as new classes in level 2 since that is how the spreadsheet is set up to process the raw json.

[2016-09-26 14:32] josue-medellin commented on #38
@qjhart @jrmerz @andybell Lets do that for the next round then. @qjhart who should be doing this Justin or Andy?

[2016-09-26 14:40] josue-medellin commented on #38
@andybell can we do a quick test (not today) for Wednesday just to quantify the difference in vineyards or "{other deciduous"? using this further categorization? Back burner. is just for reference.

[2016-09-26 14:41] andybell commented on #37
New charts - only showing the crop catagories that are included in the ET calculations. The order of the crops on the x-axis are sorted from high Kc (average of all methods) to low Kc using the estimates from July.

![kc_et_crops_only_july](https://cloud.githubusercontent.com/assets/7776675/18838442/7ee0be6e-83d5-11e6-9483-c911ab495803.png)
![kc_et_crops_only_may](https://cloud.githubusercontent.c

[2016-09-26 14:50] josue-medellin commented on #37
Great this we will use. Lets close.

[2016-09-26 14:50] #37 closed

[2016-09-26 15:08] andybell commented on #35
Updated to include labels for station horiz lines  - gist with R code is also updated.

![d1](https://cloud.githubusercontent.com/assets/7776675/18839559/6847c360-83d9-11e6-96ae-9dceeb1e9254.png)
![d2](https://cloud.githubusercontent.com/assets/7776675/18839558/6835b88c-83d9-11e6-9b16-499adcfa5c2f.png)
![d3](https://cloud.githubusercontent.com/assets/7776675/18839560/6848cb34-83d9-11e6-9315-6559db

[2016-09-26 15:58] josue-medellin commented on #35
Thanks Andy, this should do it.

[2016-09-26 15:58] #35 closed

[2016-09-26 18:43] andybell commented on #33
@josue-medellin @qjhart It looks like it just was the total area that was wrong for the DSA. Let me know if I'm misunderstanding this issue about what got recalculated. Prior versions of the chart might have used the area of the bounding box.

Here is an updated chart of the islands using an area of 679,000 acres to normalize the entire service area.

![dsa_subregion_acre-feet_by_island_area](http

[2016-09-26 18:49] josue-medellin commented on #33
@andybell,  do all areas include **just crop classes** OR **ALL** LU classes? if the fist, we are good to go I think. If second, @qjhart should we use just crops and redo?

[2016-09-26 18:59] andybell commented on #36
@josue-medellin can you expand with some more detail about what is wrong? Is it that the estimate in table 3 is higher for the DSA than the legal delta?

It looks like SIMS was clipped to the delta service bounds - so it might not be valid to report estimates for the legal delta for the SIMS method (similar to CalSIMETAW & DETAW).

Red polygon is the legal delta bounds. Note - the area in the uppe

[2016-09-26 19:03] andybell commented on #33
@josue-medellin The figure only contains the data from the crop classes (using the include=yes list from the Crops spreadsheet tab).

[2016-09-26 19:13] josue-medellin commented on #36
I see the problems. So do we have LU from Land IQ for all DSA and all the Legal Delta?

[2016-09-26 19:14] josue-medellin commented on #33
Then I'll close the issue. We should be good to go with this. Thank you.

[2016-09-26 19:14] #33 closed

[2016-09-26 19:26] andybell commented on #36
Landuse from Land IQ covers the entire extent of the DSA.

There are two spots where the legal delta does not have land use:

The mouth of delta - by Pittsburg:

![image](https://cloud.githubusercontent.com/assets/7776675/18848627/3e533a16-83fd-11e6-80bd-eeec19977490.png)

Near the Stanislaus on the eastern border

![image](https://cloud.githubusercontent.com/assets/7776675/18848602/238d9726-83fd-

[2016-09-26 19:27] andybell commented on #36
Just to be clear though - I think that the issue with SIMS is not related to the LAND IQ data. It's that the monthly ET rasters don't have any data outside the DSA boundary.

[2016-09-26 19:55] josue-medellin commented on #33
@andybell , please send boundaries DSA and Legal Delta to Forrest.
@fmelton we are investigating that but is not part of this thread, look at issue #36

[2016-09-26 20:01] josue-medellin commented on #36
@andybell it seems to me we should be reporting DSA as more than two methods did not calculated for areas other than the DSA.  I will open an issue on that to update some information.
@qjhart @fmelton this is just for your information. I will see the best way of updating the report without too much pain. We will probably require all groups next time to calculate Legal Delta as it is in the interes

[2016-09-26 20:01] andybell commented on #33
DSA -
https://github.com/ssj-delta-cu/ssj-overview/blob/master/detaw_subareas.geojson

Legal Delta -
https://fusiontables.google.com/DataSource?docid=1pwTPCh-j_aDA2MUbk12LxorHFrW-DnEgYqqySPk5#map:id=3

On Mon, Sep 26, 2016 at 3:55 PM, Josue Medellin-Azuara <
notifications@github.com> wrote:

[2016-09-26 20:08] andybell opened #40 "DSA Subregions Fusion Table - Duplicate features"
Somehow all the features in the fusion table for the DSA subregions got duplicated so that each region/island has an identical copy. Fusion table should be cleaned up or redone.

Data originally from a file named DETAW_Subareas_n83u10.shp

https://fusiontables.google.com/DataSource?docid=1VnIrhkVHzFfej6PC0eDEW5ywS3Hjw9Fm0abHZllv#rows:id=1

[2016-09-26 21:47] josue-medellin commented on #38
I calculated about 7,800 non bearing acres. 13% of 5,800 acres of almonds,  and 85% of 8,600 other orchards and pistachios. This is back burner. NO worries.

[2016-09-26 22:22] josue-medellin commented on #32
@andybell did you check Quinn calculations above? @qjhart Help us on this please.

[2016-09-26 22:39] #36 closed

[2016-09-27 18:07] josue-medellin commented on #32
@andybell Andy, would you please produce a Level 1 and level 2 summaries for: 1) Full LU survey extent 2) Legal Delta,  and 3) Delta Service Area? If we have a map with boundaries would be a plus, otherwise I can use Figure 1. Thnaks,

[2016-10-03 11:47] josue-medellin opened #41 "Boundaries for land IQ"
@andybell Greetings from POA. Would you please put a three maps with boundaries on the Delta: Land IQ current coverage, Legal Delta and Delta Service Area? I want to make sure Land IQ is inclusive of both the Legal Delta and DSA. I will send this to Land IQ principal so we are all in the same page for both 2015 and 2016 surveys. is there something else you would see beneficial to change?

Kind reg

[2016-10-03 16:28] andybell commented on #41
@josue-medellin Land IQ is fully inclusive for both the Legal Delta and the DSA.

![landiq_wbounds](https://cloud.githubusercontent.com/assets/7776675/19045018/ce1c211e-8964-11e6-8030-7c7d0eaa94e7.jpg)

[2016-10-03 16:45] josue-medellin commented on #41
@andybell you sent me this last week. are the missing acres in the legal delta because of ommission of boundaries and farmstead in fields? is about 1% of the area. Land IQ claim (a good one I think) is that they report real acreages is land. Thank you, josue

[LandIQ_level2_TabulatedArea_EE.xlsx](https://github.com/ssj-delta-cu/ssj-overview/files/506722/LandIQ_level2_TabulatedArea_EE.xlsx)

[2016-10-04 17:56] #31 closed

[2016-10-05 17:11] andybell commented on #41
@josue-medellin I finally think I've tracked down the issue. There are a couple of things going on here:
1. Reducing by wrong cell size - the script in earth engine to tabulate the areas for each of the level 2 crop categories uses a reducer with a cell size of 25m while the landcover raster asset has a cell size of 30m. This adds a tiny bit of error when estimating the categories since EE resampl

[2016-10-05 17:17] nickrsan commented on #41
Nice find - to add maybe something tiny that you both already know, Quinn had a reason for using 25m cell sizes - I'm struggling to remember what it is, but maybe @jrmerz knows (and Andy, maybe you do too). It was something about getting perfect alignment between some other datasets. Sounds like maybe it introduced the errors still, but just wanted to make sure you both knew that.

[2016-10-05 17:45] andybell commented on #41
The amount of error with the reducer resolution is minuscule but it helps explain some of the discrepancies when calculating the totals outside of EE. Plus, the ET summary by Land IQ category (ssj-overview/et_comparisons.js) used a 200 m reducer, so I don't think it is relevant to the end product.

The alignment issue could be significant though - I tried uploading landuse_2015.tif as a new asset

[2016-10-05 18:12] josue-medellin commented on #41
Thanks again Andy. @qjhart Would you please explain us the EE transformations undertaking to upload Land IQ data? Thanks, josue

[2016-10-06 16:05] jrmerz commented on #41
@nickrsan sorry, I do not know this issue.  Will have to defer to quinn.

[2016-10-06 18:25] andybell opened #42 "legal delta shapefile"
Shapefile for the legal delta bounds should be added to this repo.

Source: https://catalog.data.gov/dataset/legal-delta-boundary-2001-dwr-ds586f439c

[2016-10-11 18:28] #42 closed

[2016-10-12 02:07] qjhart commented on #41
@andybell, The Landuse data was uploaded to EE in epsg:3310.  Originally, the results files were supposed to be in EPSG:3310, but since everyone used UTM, we just gave up and made the final product match the landsat imagery.  So it would probably be worthwhile to recalculate the raster in that coordinate system, and then upload.  25m was chosen as it's a integer nmber of pixels to fit with other s

[2016-10-12 02:09] qjhart commented on #41
https://github.com/ssj-delta-cu/ssj-landuse/blob/master/src/raster.sql shows the raster conversion.

[2016-10-12 02:10] josue-medellin commented on #40
Andy, can we close this one?

[2016-10-12 02:11] #39 closed

[2016-10-12 02:11] josue-medellin commented on #38
@andybell Lets try to have this filter for bearing/non-bearing orchards. @qjhart had some ideas.

[2016-10-12 02:12] josue-medellin commented on #26
@qjhart are we done with this?

[2016-10-12 02:12] #34 closed

[2016-10-12 02:13] josue-medellin commented on #27
@qjhart are we doing something on this?

[2016-10-12 02:14] #32 closed

[2016-10-12 02:19] josue-medellin commented on #41
@andybell please follow up on this at your earliest convenience. I noticed you uploaded some land use info but not sure how it relates to this.

[2016-10-12 16:01] andybell commented on #40
@josue-medellin I've not resolved this yet. Let's leave this issue open.

[2016-11-04 17:34] josue-medellin commented on #27
A discussion has been initiated about discrepancies. UCD found some of the dates need to be revised.

[2016-11-04 17:34] #27 closed

[2017-07-13 00:49] nickrsan opened #46 "Data Update Checklist"
Hey Andy, I'm making this a checklist that we can use as a template whenever we get/change results from a group so that we can make sure that any downstream analyses get handled.

- [ ] Output new GeoJSON
- [ ] Create new graphs for report from GeoJSON
- [ ] Load new graphs into report (we can maybe specify which graphs, but it'll vary)
- [ ] Download new monthly raster
- [ ] Update comparison map

[2017-07-13 01:16] ghost commented on #46
It seems that this is intended for Andy B?

On Jul 12, 2017 5:49 PM, "Nick" <notifications@github.com> wrote:

[2017-07-13 01:19] nickrsan commented on #46
Yes, that's correct, sorry - I assigned to him too - didn't know you watched this repo. Sorry for confusion!